---
poa_role: "bootnode|validator|moc|explorer|netstat"

access_key: "KEY_NAME"
secret_key: "KEY_SECRET"
s3_bucket: "BUCKET_NAME"
node_name: "NODE_NAME"
backup_parity_data: true
backup_parity_blocks: true

MAIN_REPO_FETCH: "poanetwork"
GENESIS_BRANCH: "sokol"

SCRIPTS_VALIDATOR_BRANCH: "sokol"
