---
# bootnode | moc | validator | explorer | netstat
poa_role: "validator"
GENESIS_BRANCH: "core"

# backup options
backup_parity_data: "on"

# do full resync
resync: "on"

# strings to remove from node.toml
bootnode_node_toml_lines_to_remove: []

# strings to add in node.toml
bootnode_node_toml_lines_to_add: []

update_netstats: "on"
