files/*.pub
*.retry
group_vars/all
group_vars/backup
group_vars/hf-spec-change
group_vars/upd-parity-version
group_vars/upd-scripts-validator
group_vars/upd-bootnodes-txt
hosts

logs/*.err
logs/*.out
logs/*.log
logs/*.gz

logs/old/*.err
logs/old/*.out
logs/old/*.log
logs/old/*.gz

*.todo
all
